<script id="code">
    const ta_so = document.getElementById("data_so")
    const data_so = JSON.parse(ta_so.value)
    function initx() {
        var $ = go.GraphObject.make;  // for conciseness in defining templates

        myDiagram =
            $(go.Diagram, "myDiagramDiv",  // the DIV HTML element
                {
                    initialDocumentSpot: go.Spot.TopCenter,
                    initialViewportSpot: go.Spot.TopCenter,
                    layout:
                        $(go.TreeLayout,  // use a TreeLayout to position all of the nodes
                            {
                                treeStyle: go.TreeLayout.StyleLastParents,
                                angle: 90,
                                layerSpacing: 80,
                                alternateAngle: 0,
                                alternateAlignment: go.TreeLayout.AlignmentStart,
                                alternateNodeIndent: 20,
                                alternateNodeIndentPastParent: 1,
                                alternateNodeSpacing: 20,
                                alternateLayerSpacing: 40,
                                alternateLayerSpacingParentOverlap: 1,
                                alternatePortSpot: new go.Spot(0.001, 1, 20, 0),
                                alternateChildPortSpot: go.Spot.Left
                            })
                });

        function theInfoTextConverter(info) {
            var str = "\n";
            if (info.name) str += "(" + info.name + ")";
            if (info.nik) str += "\n" + info.nik;
            return str;
        }

        function getImg(url) {
            return url;
        }

        myDiagram.nodeTemplate =
            $(go.Node, "Auto",
                $(go.Shape, "Rectangle",
                    { stroke: null, strokeWidth: 1 },
                    new go.Binding("fill", "isHighlighted", function (h) { return h ? "#F44336" : "#A7E7FC"; }).ofObject()),
                $(go.Panel, "Table",
                    { margin: 6, maxSize: new go.Size(250, NaN) },
                    $(go.RowColumnDefinition,
                        {
                            column: 0,
                            stretch: go.GraphObject.Horizontal,
                            alignment: go.Spot.Center
                        }),
                    $(go.TextBlock,
                        {
                            row: 0, column: 0,
                            maxSize: new go.Size(250, NaN), margin: 2,
                            font: "500 16px Roboto, sans-serif",
                            textAlign: "center"
                        },
                        new go.Binding("text", "jabatan")),
                    $(go.TextBlock,
                        {
                            row: 1, column: 0,
                            font: "12px Roboto, sans-serif",
                            textAlign: "center"
                        },
                        new go.Binding("text", "", theInfoTextConverter)
                    )
                )
            );

        myDiagram.linkTemplate =
            $(go.Link, go.Link.Orthogonal,
                { corner: 5, selectable: false },
                $(go.Shape, { strokeWidth: 3, stroke: "#424242" }));  // dark gray, rounded corner links

        // var nodeDataArray = JSON.parse('{{ data_so | tojson | safe }}');

        myDiagram.model =
            $(go.TreeModel,
                {
                    nodeParentKeyProperty: "boss",  // this property refers to the parent node data
                    // nodeDataArray: nodeDataArray
                    nodeDataArray: data_so
                });

        myOverview =
            $(go.Overview, "myOverviewDiv",  // the HTML DIV element for the Overview
                { observed: myDiagram, contentAlignment: go.Spot.Center });   // tell it which Diagram to show and pan
    }

    function searchDiagram() {
        var input = document.getElementById("mySearch");
        if (!input) return;
        input.focus();

        myDiagram.startTransaction("highlight search");

        if (input.value) {
            var regex = new RegExp(input.value, "i");
            var results = myDiagram.findNodesByExample({ jabatan: regex },
                { nation: regex },
                { title: regex },
                { headOf: regex });
            myDiagram.highlightCollection(results);
            if (results.count > 0) myDiagram.centerRect(results.first().actualBounds);
        } else {  // empty string only clears highlighteds collection
            myDiagram.clearHighlighteds();
        }

        myDiagram.commitTransaction("highlight search");
    }

    // document ready
    document.addEventListener("DOMContentLoaded", () => {
        setTimeout(initx, 300);
    });
</script>

<div id="sample" style="position: relative;">
    <input type="search" id="mySearch" onkeypress="if (event.keyCode === 13) searchDiagram()" />
    <button onclick="searchDiagram()">Cari</button>
    <div id="myDiagramDiv"
        style="background-color: white; border: solid 1px black; width: 100%; height: 700px; margin-top: 5px;">
    </div>
    <div id="myOverviewDiv"></div>
</div>